body{
	overflow:hidden;
}

.content {

}
.nav{
	height:25px;
	list-style-type: none;
	text-decoration: none;

}
.nav{
	float: right;
	margin: 7px 15px 0 0;
}
li{
	display:inline;
	vertical-align:middle;
}
a{
	text-decoration: none;
	color:black;
	font-family: arial;
	font-size:13px;
	padding:6px;
}

.bell {
  background-image: url("../images/bell.png");
  background-position: -69px -69px;
  position: absolute;
  width: 30px;
  height: 30px;
}

.apps {
  background-image: url("../images/grid.png");
  background-position: -69px -854px;
  position: absolute;
  width: 30px;
  height: 30px;
}

.share {
  border-radius: 1px;
  background-color: #F4F4F4;
  padding: 7px 15px;
  
}